.funny-glasses {
    position: relative;
    left: 214px;
    bottom: 106px;
}

.bandana {
    position: absolute;
    left: 105px;
    bottom: 75px;
}

.pawprint {
    position: fixed;
    /* right: 50px; */
    bottom: 783px;
    left: 63px;
}

.luna {
    position: absolute;
}

.top-hat {
    position: relative;
    z-index: 2;
}